# Ce dossier doit contenir les fichiers secrets pour Docker Secrets.
# Exemple de fichiers à créer (ne pas versionner !) :
# - db_password.txt
# - db_root_password.txt
# - wp_auth_key.txt
# - wp_secure_auth_key.txt
# - wp_logged_in_key.txt
# - wp_nonce_key.txt
